.slider {
    min-width: 0;
}
.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-arrow {
    padding: 30px;
    font-size: 0;

    background-color: #fafafa;
    border: 2px solid #f1cdb3;
    outline: none;
    border-radius: 40px;
}

.slick-arrow:hover {
    background-color: #f1cdb3;
    cursor: pointer;
}

.slick-prev {
    background: 50% 50% url(/img/arrow-left.svg) no-repeat;
    background-size: 25px;

    position: absolute;
    top: 417px;
    left: 250px;
    z-index: 1000;
}

.slick-next {
    background: 50% 50% url(/img/arrow-right.svg) no-repeat;
    background-size: 25px;

    position: absolute;
    top: 417px;
    right: 250px;
    z-index: 1000;
}

/* Точки */
.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li {
    margin: 10px 10px;
    list-style: none;
}

.slick-dots li.slick-active button{
    border: 2px solid #F1CDB3;
}

.slick-dots button {
    width: 20px;
    height: 20px;

    font-size: 0;
    background-color: #fff;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 50%;
    outline: none;
}